/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
/*colors*/
/*fonts*/
   
}
body {
    background-color: white;
    color: undefined;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}
h1{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 600;
    color: #00022e;
    font-size: 20px;
}
main{
    margin: 100px 30px 30px 30px;
    
}
/* style for header block*/
header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*        background-color: red;*/
}
.page-header {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 100%;
    padding: 20px;
}

/*style the base size to 200 px and allow to shrink*/
.page-header__item{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

#logo {
    width: 200px;
    height: 70px;
}
/*the last child is the menubar*/
.page-header__item:last-child{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;

}

/*get rid off the bullet from the list*/
.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

/*base font color*/
a {
    color: #2e5984;
    list-style-type: none;
}

a:visited {
    /* visited link */
    color: black;
    list-style-type: none;
}

a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: #00022e;
    font-weight: 700;
    -webkit-transition: 0.9s opacity;
    transition: 0.9s opacity;
}

a:active {
    /* selected link */
    color: #2e5984;
}

.content {
    text-align: center;
    width: 100%;
    padding: 20px;
}

table {
    margin-left: 0;
}

.profile {
    max-width: 700px;
/*    margin: 0 auto;*/
     margin: 250px auto;
}

.profile__portrait {
    float: left;
    width: 240px;
    height: 240px;
    margin-right: 40px;
    border-radius: 50%; 
}

#contact-form{
/*    background-color: gainsboro;*/
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.info{
    color: #000000;
}

/*start grid fallback*/
.grid {
    display: inline-block;
    padding:20px;
}
/*end grid fallback*/

@supports (display:grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }
}

.grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    padding: 20px;
    margin: 0;
}

.grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

button { /*resume button*/
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: undefined;
    color: #ffffff;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}
.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
    border: none;
}

button:active {
    /*selected button*/
    
    border-right: none;
    border-bottom: none;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #2e5984;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #2e5984;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
    color: #ffffff;
}

button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
    color: #ffffff;
}

.button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
    color: #ffffff;
}

.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
    color: #ffffff;
}

#path1{
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}
/*
#path1 {
  animation: 5s c-move infinite alternate linear;
}
#path1 {
  animation: 5s c-move-reverse infinite alternate linear;
}
*/
/*Media Queries*/

@media all and (max-width: 600px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 601px) and (max-width: 800px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 800px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/*animations*/

@-webkit-keyframes color-change {
  0% {
    fill: #002868;
  }
  50% {
    fill: #bf0a30;
  }
  100% {
    fill: #ffd700;
  }
}

@keyframes color-change {
  0% {
    fill: #002868;
  }
  50% {
    fill: #bf0a30;
  }
  100% {
    fill: #ffd700;
  }
}
@-webkit-keyframes c-move {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
}
@keyframes c-move {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
}
@-webkit-keyframes c-move-reverse {
  from {
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes c-move-reverse {
  from {
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}